@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #ff5800;
}

@font-face {
  font-family: "Gotham-bold";
  src: url("/fonts/GothamBlack/GOTHAM-BLACK.TTF");
  font-display: swap;
}

.font-face {
  font-family: "Gotham-bold";
}

.black {
  background-color: #1a1a1a;
}

.text-orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.font {
  font-family: gotham;
}

.border-orange {
  border-color: var(--orange);
  border-width: 2px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1a1a1a;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #1a1a1a;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #1a1a1a;
}

.image-container {
  width: 25vh;
}
